1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

In [3]:
#part a)

#first empty tuple
o = ( )

#cycling over numbers [1:101)
for i in range( 1 , 101 ) :
    #checking if multiples of 15, MickeyMouse
    if ( ( i % 3 == 0 ) & ( i % 5 == 0 ) ) : output = 'MickeyMouse'
    #if not multiple of both, checking single ones
    elif ( i % 3 == 0 ) : output = 'Mickey'
    elif ( i % 5 == 0 ) : output = 'Mouse'
    #if no condition mathced, output i
    else : output = i
    #printing output
    print( output )
#integrating part b)
    #if Mickey or Mouse or bot, switch to Donald Duck single-element tuple
    if output == 'MickeyMouse' : o_i = ( 'DonaldDuck', )
    elif output == 'Mickey' : o_i = ( 'Donald', )
    elif output == 'Mouse' : o_i = ( 'Duck', )
    else : o_i = ( i, )
    #updating tuple as sum of tuples
    o += o_i
#at cycle end, print tuple
print( o )

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse
(1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'DonaldDuck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'DonaldDuck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'DonaldDuck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'DonaldDuck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [7]:
#function to swap input values
def swap( x, y ) : return y, x

#getting input variables a,b
a = input("Insert a: ")
b = input("Insert b: ")

#swapping a, b
a, b = swap( a, b )

#print swapped values
print( "a: ", a , "; b: ", b)

Insert a: d
Insert b: 8
a:  8 ; b:  d

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [5]:
#defining function to compute euclidean distance
def distance( x, y ) :
    return ( ( x[0] - y[0] )**2 + ( x[1] - y[1] )**2 )**0.5

#getting input from user, u,v coordinates
u = ( float( input("Input value for u_x: ") ), float( input("Input value for u_y: ") ) )
v = ( float( input("Input value for v_x: ") ), float( input("Input value for v_y: ") ) )

#output distance between u and v
print( "Distance between point u and v is: ", distance( u, v ))

Input value for u_x: 3
Input value for u_y: 0
Input value for v_x: 0
Input value for v_y: 4
Distance between point u and v is:  5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [ ]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

In [1]:
# given string
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

# converting string to all lower cases
s_l = s.lower()

# creating a dictionary to count single character appearance, starting from first element
count = { s_l[0] : 0 }

# cycling over characters in s
for i in s_l :
    #if already seen, increment counter
    if i in count : count[i] += 1
    #if a new character, start counting from one
    else : count[i] = 1

#output of counted characters
for i in count : print( i, count[i] )

w 2
r 17
i 14
t 19
e 22
  41
a 7
p 8
o 13
g 1
m 12
h 9
n 10
s 9
u 9
b 5
f 10
1 2
0 2
. 2
l 6
c 3
k 2
y 2
d 3
v 2

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [ ]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [11]:
#function to determinate unique elements in list
def uni_c( list ) :
    seen = [ ]
    lonely = [ ]
    for i in list : 
        if ( i  in seen ) :
            if ( i in lonely ) : lonely.remove( i )
        else :
            lonely.append( i )
            seen.append( i )
    return lonely

#input list
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

#getting unique list from funcion
lonely =  uni_c( l )

#printing number of unique elements
print( "There are ", len( lonely ), "unique numbers among ", len(l), "\nThey are: ")
#printing unique numbers
for i in lonely : print( i )

There are  37 unique numbers among  80
They are:
58
74
96
64
10
24
19
33
86
99
18
47
88
55
54
8
79
81
57
37
1
9
95
90
98
39
16
82
92
41
30
94
5
72
87
75
53

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [5]:
#function to compute square of a number
def square( x ) : return x**2
#function to compute cube of a number
def cube( x ) : return x**3
#function to compute 6th power of a number
def esapow( x ) : return square( cube( x ) )

#getting an input number
x = float( input( "Insert x: ") )
#output of all powers
print( "Square of x: ", square( x ), "; Cube of x: ", cube( x ), "; 6th power of x: ", esapow( x ))

Insert x: 5
Square of x:  25.0 ; Cube of x:  125.0 ; 6th power of x:  15625.0

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [14]:
#classical method a)
#creating an empty list
cubes = []
#cycling over numbers [1; 101)
for i in range( 1, 101 ) : cubes.append( i ** 3 )
#printing all list
for i in cubes : print( i )
    
#list comprehension method b)
#creating a list of cubes using comprehension
cub = [ i ** 3 for i in range( 1, 101) ]
#printing list
print( cub )

1
8
27
64
125
216
343
512
729
1000
1331
1728
2197
2744
3375
4096
4913
5832
6859
8000
9261
10648
12167
13824
15625
17576
19683
21952
24389
27000
29791
32768
35937
39304
42875
46656
50653
54872
59319
64000
68921
74088
79507
85184
91125
97336
103823
110592
117649
125000
132651
140608
148877
157464
166375
175616
185193
195112
205379
216000
226981
238328
250047
262144
274625
287496
300763
314432
328509
343000
357911
373248
389017
405224
421875
438976
456533
474552
493039
512000
531441
551368
571787
592704
614125
636056
658503
681472
704969
729000
753571
778688
804357
830584
857375
884736
912673
941192
970299
1000000
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [3]:
#creating a comprehension list for Pythagorean triple with condition a^2 + b^2 = c^3 in [1:100]
PTL = [ ( a, b, c ) for a in range( 1, 101 ) for b in range( a, 101 ) for c in range( b, 101 ) if ( ( a**2 + b**2 ) == ( c**2 ) ) ]
#printing result
print( "I found", len( PTL ), "Pythagorean triples")
print( PTL )

#extreme secure check
#for i in PTL :
#    print( i, " because: ", square( i[0] ), "+ ", square( i[1] ), "= ", square( i[2] ) )

I found 52 Pythagorean triples
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (28, 96, 100), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (51, 68, 85), (54, 72, 90), (57, 76, 95), (60, 63, 87), (60, 80, 100), (65, 72, 97)]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [16]:
#defining a normalization function to normalize vectors to versors
def norm_vector( x ) :
    #computing sum of square x values
    sum = 0.0
    for i in x : sum += i**2
    #creating a new empty tuple
    new_x = ()
    #cycling over tuple x
    for i in x :
        #creating single-element tuple t for normalized value x
        t = ( i/(sum**0.5) )
        #updating complete tuple
        new_x += ( t, )
    #return new tuple
    return new_x

#defining a normalization function to normalize all variables of a tuple to a given element in position n
def norm_stat( x, normalizer ) :
    #creating a new empty tuple
    new_x = ()
    #cycling over tuple x
    for i in x :
        #creating single-element tuple t for normalized value x
        t = ( i / x[ normalizer ] )
        #updating complete tuple
        new_x += ( t, )
    #return new tuple
    return new_x

#input list
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

#gettin input position
n = int( input( "What element normalize on respect to: " ) )

#normalize list l based on n
norm_l = norm_stat( l, normalizer = n )

#output normalized list
print( "statistical normalization >>> ", norm_l )

#print vector normalization
print( "vectorial normalization >>> ", norm_vector( l ) )

What element normalize on respect to: 0
statistical normalization >>>  (1.0, 1.25, 1.6111111111111112, 0.08333333333333333, 2.0555555555555554, 2.6666666666666665, 1.7777777777777777, 1.25, 0.8611111111111112, 0.2777777777777778, 0.6666666666666666, 0.5277777777777778, 0.9166666666666666, 2.388888888888889, 2.75, 0.5, 1.75, 1.9444444444444444, 2.361111111111111, 2.361111111111111, 1.75, 1.3055555555555556, 1.5555555555555556, 1.1666666666666667, 1.9444444444444444, 2.3333333333333335, 2.4444444444444446, 1.5277777777777777, 0.5555555555555556, 1.5, 0.2222222222222222, 1.5555555555555556, 1.4166666666666667, 2.1944444444444446, 2.25, 1.5833333333333333, 1.0277777777777777, 2.5277777777777777, 0.027777777777777776, 2.3333333333333335, 2.3333333333333335, 1.0, 1.8333333333333333, 0.25, 2.4722222222222223, 1.3888888888888888, 1.1666666666666667, 2.5277777777777777, 1.3888888888888888, 2.638888888888889, 2.5, 2.7222222222222223, 1.0833333333333333, 0.4444444444444444, 2.2777777777777777, 0.8611111111111112, 2.5555555555555554, 1.1388888888888888, 1.25, 0.8333333333333334, 1.8333333333333333, 1.9444444444444444, 0.9444444444444444, 2.361111111111111, 2.611111111111111, 0.1388888888888889, 0.08333333333333333, 1.0, 2.0, 2.5277777777777777, 2.3333333333333335, 0.9444444444444444, 2.4166666666666665, 2.0833333333333335, 1.4722222222222223, 1.4166666666666667, 0.5555555555555556, 2.4722222222222223, 1.4166666666666667, 0.5555555555555556)
vectorial normalization >>>  (0.06449852382932365, 0.08062315478665456, 0.1039142883916881, 0.005374876985776971, 0.13258029898249862, 0.17199606354486308, 0.11466404236324206, 0.08062315478665456, 0.05554039551969537, 0.01791625661925657, 0.04299901588621577, 0.034040887576587485, 0.059123646843546686, 0.15407980692560652, 0.17737094053064006, 0.03224926191466183, 0.1128724167013164, 0.125413796334796, 0.15228818126368085, 0.15228818126368085, 0.1128724167013164, 0.08420640611050588, 0.1003310370678368, 0.0752482778008776, 0.125413796334796, 0.1504965556017552, 0.15766305824945784, 0.09853941140591115, 0.03583251323851314, 0.09674778574398549, 0.014333005295405257, 0.1003310370678368, 0.09137290875820851, 0.1415384272921269, 0.14512167861597822, 0.10212266272976245, 0.06629014949124931, 0.1630379352352348, 0.0017916256619256571, 0.1504965556017552, 0.1504965556017552, 0.06449852382932365, 0.11824729368709337, 0.016124630957330913, 0.15945468391138348, 0.08958128309628285, 0.0752482778008776, 0.1630379352352348, 0.08958128309628285, 0.17020443788293743, 0.16124630957330913, 0.1755793148687144, 0.06987340081510063, 0.028666010590810514, 0.1469133042779039, 0.05554039551969537, 0.16482956089716044, 0.07345665213895194, 0.08062315478665456, 0.05374876985776971, 0.11824729368709337, 0.125413796334796, 0.060915272505472344, 0.15228818126368085, 0.16841281222101176, 0.008958128309628286, 0.005374876985776971, 0.06449852382932365, 0.1289970476586473, 0.1630379352352348, 0.1504965556017552, 0.060915272505472344, 0.15587143258753217, 0.1343719246444243, 0.09495616008205983, 0.09137290875820851, 0.03583251323851314, 0.15945468391138348, 0.09137290875820851, 0.03583251323851314)